<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CRM">
        <activity android:name=".LeaveDetailsActivity"></activity>
        <activity android:name=".LeaveManagementActivity" />
        <activity android:name=".EmployeeManagement.DigitalMarketingEmployeeDetailsActivity" />
        <activity android:name=".EmployeeManagement.DevelopmentEmployeeDetailsActivity" />
        <activity android:name=".EmployeeManagement.HRMEmployeeDetailsActivity" />
        <activity android:name=".EmployeeManagement.FlaxenDocumentationActivity" />
        <activity android:name=".EmployeeManagement.SalesEmployeeDetailsActivity" />
        <activity android:name=".EmployeeManagement.EmployeeDepartmentActivity" />
        <activity android:name=".EmployeeManagement.EmployeeRegisterSecondActivity" />
        <activity android:name=".WebmailCompose" />
        <activity android:name=".WebmailActivity" />
        <activity android:name=".ReportingtimeActivity" />
        <activity android:name=".EmployeeManagement.EmployeeRegistrationActvity" />
        <activity android:name=".EmployeeManagement.EmployeeDashboardActivity" />
        <activity android:name=".EmployeeManagement.DocumentationActivity" />
        <activity android:name=".PaySlipSecondActivity" />
        <activity android:name=".PaySlipFormActivity" />
        <activity android:name=".HRManagement.CandidateRemark" />
        <activity android:name=".HRManagement.CandidateRegistration" />
        <activity android:name=".NewProposalActivity" />
        <activity android:name=".HRManagement.ShortlistedCandidateFullDetailsActivity" />
        <activity android:name=".HRManagement.ShortlistedCandidateDetailsActivity" />
        <activity android:name=".HRManagement.TestPaperRespondActivity" />
        <activity android:name=".HRManagement.TestPaperActivity" />
        <activity android:name=".HRManagement.TestPaperSummerActivity" />
        <activity android:name=".HRManagement.CandidateMainPage" />
        <activity android:name=".CustomerDetails" />
        <activity android:name=".EmployeeRegistration" />
        <activity android:name=".AttendanceActivity" />
        <activity android:name=".CustomerRegisteration" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>