<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CRM">
        <activity android:name=".EmployeeRegisterSecondActivity"></activity>
        <activity android:name=".EmployeeRegistrationActvity" />
        <activity android:name=".EmployeeDashboardActivity" />
        <activity android:name=".DocumentationActivity" />
        <activity android:name=".PaySlipSecondActivity" />
        <activity android:name=".PaySlipFormActivity" />
        <activity android:name=".CandidateRemark" />
        <activity android:name=".CandidateRegistration" />
        <activity android:name=".NewProposalActivity" />
        <activity android:name=".ShortlistedCandidateFullDetailsActivity" />
        <activity android:name=".ShortlistedCandidateDetailsActivity" />
        <activity android:name=".TestPaperRespondActivity" />
        <activity android:name=".TestPaperActivity" />
        <activity android:name=".TestPaperSummerActivity" />
        <activity android:name=".CandidateMainPage" />
        <activity android:name=".CustomerDetails" />
        <activity android:name=".EmployeeRegistration" />
        <activity android:name=".AttendanceActivity" />
        <activity android:name=".CustomerRegisteration" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>